<section id="single-element">
  <div class="container">
    <div class="row">

      <div class="col-md-offset-1 col-md-10 col-sm-12">
        <div class="form">

          <form [formGroup]="forgotPasswordForm">
            <div *ngIf="message"  class="alert error"><!--might be a good ideea to make a component for this-->
              <span class="closebtn" (click)="clearErrorAlert()">&times;</span>
              {{message}}
            </div>
            <input class="form-control" [formControl]="forgotPasswordForm.controls['email']" type="text" name="email" placeholder="Email" required>
            <div class="alert warning" *ngIf="forgotPasswordForm.controls['email'].hasError('invalidEmail') && forgotPasswordForm.controls['email'].touched" >You must provide a valid email</div>
            <input class="form-control" [disabled]="!forgotPasswordForm.valid" (click)="resetPassword()" type="submit" id="resetButton" name="Reset" value="Reset">
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
