<section id="single-element">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10 col-sm-12">
                <div class="form">
                    <form [formGroup]="resetPasswordForm">
                        <div *ngIf="message"  class="alert error"><!--might be a good ideea to make a component for this-->
                            <span class="closebtn" (click)="clearErrorAlert()">&times;</span>
                            {{message}}
                        </div>
                        <input class="form-control" [formControl]="resetPasswordForm.controls['password1']" type="password" name="password1"
                               placeholder="New Password" required>
                        <div class="alert warning" *ngIf="!areValid()">
                            You must provide a valid password(min length 8 chars, at least 1 number,1 character and a special character)
                        </div>
                        <input class="form-control" [formControl]="resetPasswordForm.controls['password2']" type="password" name="password2"
                               placeholder="Retype your new Password" required>
                        <div class="alert warning" *ngIf="!passwordsMatch()&&resetPasswordForm.controls['password1'].touched && resetPasswordForm.controls['password2'].touched">
                            Passwords don't match
                        </div>
                        <input class="form-control" [disabled]="!(passwordsMatch()&&areValid())" (click)="resetPassword()" type="submit" id="resetButton"
                               name="Reset" value="Reset">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>




